@font-face {
 font-family: Afta; /* Имя шрифта */
 src: url(fonts/AftaSerifThin-Regular.otf); /* Путь к файлу со шрифтом */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
}

body {
  background-color: #DBE2EC;
  width: 100%;
}

.wrapper {
  /* DEBUG цвет для наглядности */
  background-color: #FFFF00;

  width: 70%;
  height: 60%;

  /* Центрирование по вертикали и горизонтали */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.space {
  width: calc(17.6%/2);
  height: 100%;
  position: relative;
  display: inline-block;
  vertical-align: top;
  float: left;
}

.space:nth-child(1) {
  /* DEBUG цвет для наглядности */
  background-color: #929487;
}

.space:nth-child(1) {
  /* DEBUG цвет для наглядности */
  background-color: #494A43;
}

.column {
 width: calc(82.4%/3);
 height: 100%;
 position: relative;
 display: inline-block;
 vertical-align: top;
 float: left;
}

.column:nth-child(1) {
  /* DEBUG цвет для наглядности */
  background-color: #DB4545;
}

.column:nth-child(3) {
  /* DEBUG цвет для наглядности */
  background-color: #7FBFFF;
}

.menu {
  /* DEBUG цвет для наглядности */
  background-color: #FFFFFF;

  height: 10%;

  position: relative;
}

.button-close {
  /* Positioning */
  background-color: #CCCCAB;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);

  /* Decoration */
  text-decoration:none;
  text-align:center;
  border:none;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight:bold;
  color:#000000;
  background-color: #FFFFFF;
}

.menu img {
  width: 10%;

  /* Центровка картинки, подозреваю, что можно проще и изящнее */
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%)
}

.content {
  /* DEBUG цвет для наглядности */
  background-color: #65CCCC;

  height: 90%;
}

/* SECOND COLUMN */

.column:nth-child(3) .content {
  /* DEBUG цвет для наглядности */
  background-color: #F6F7F8;

  height: 90%;
  padding: 10%;
  text-align: justify;
  font-family: Afta;
  line-height: 1.5;
}

.column:nth-child(3) .content::first-letter {
  font-size: 4em;
  float: left;
  margin-right: 3%;
}

/* THIRD COLUMN */

.column:nth-child(5) {
  /* DEBUG цвет для наглядности */
  background-color: #6B00C7;
}

.menu-header {
  /* DEBUG цвет для наглядности */
  background-color: #FFFFFF;

  height: 10%;
}

.comment-counter {
  /* DEBUG цвет для наглядности */
  background-color: #FFFFAB;

  height: 100%;
  position: relative;

  /* Что здесь происходит? */
  /*display: inline-block;
  position: absolute;
  left: 35%;
  transform: translateY(100%);*/
}

.comment-counter-content {
  font-size: 1em;
  font-family: sans-serif;

  /* DEBUG цвет для наглядности */
  background-color: #CCCCAB;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.cross-close {
  /* DEBUG цвет для наглядности */
  background-color: #65CAAA;

  position: absolute;
  left: 80%;
  top: 0%;

  width: 20%;
  height: 10%;
}

.cross-close img {
  width: 40%;

  /* Центровка картинки, подозреваю, что можно проще и изящнее */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.column:nth-child(5) .content {
  /* DEBUG цвет для наглядности */
  background-color: #6B00C7;

  height: 90%;
}

.line {
  /* DEBUG цвет для наглядности */
  background-color: #CCC65C;

  height: calc(100%/4);
  width: 100%;
}

.avatar {
  /* DEBUG цвет для наглядности */
  background-color: #FFAA5C;

  position: relative;
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 20%;
  height: 100%;
}

.avatar img {
  border-radius: 30px;
  width: 80%;

  /* Центровка картинки, подозреваю, что можно проще и изящнее */
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.comment-block {
  /* DEBUG цвет для наглядности */
  background-color: #BFFC5C;

  position: relative;
  display: inline-block;
  vertical-align: top;
  float: right;
  width: 80%;
  height: 100%;
}

.nickname {
  color: #2C3137;
}

.separated-date {
  color: #BEBFC0;
}

.comment {
  color: #626A73;
  padding-top: 2.5%;
  padding-right: 5%;
  text-align: justify;
  overflow: auto;
}
