@font-face {
 font-family: Afta; /* Имя шрифта */
 src: url(fonts/AftaSerifThin-Regular.otf); /* Путь к файлу со шрифтом */

 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: Vera; /* Имя шрифта */
 src: url(fonts/Vera.ttf); /* Путь к файлу со шрифтом */

 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: Vera; /* Имя шрифта */
 src: url(fonts/Vera-Bold.ttf); /* Путь к файлу со шрифтом */

 font-weight:bold;
 font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
}

body {
  background-color: #DBE2EC;
  width: 100%;
}

.wrapper {
  width: 70%;
  height: 60%;

  /* Центрирование по вертикали и горизонтали */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.space {
  width: calc(17.6%/2);
  height: 100%;
  position: relative;
  display: inline-block;
  vertical-align: top;
  float: left;
}

.column {
 width: calc(82.4%/3);
 height: 100%;
 position: relative;
 display: inline-block;
 vertical-align: top;
 float: left;
}

.menu {
  background-color: #FFFFFF;

  height: 10%;

  position: relative;
}

.button-close {
  /* Positioning */
  background-color: #CCCCAB;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);

  /* Decoration */
  text-decoration:none;
  text-align:center;
  border:none;
  font-family: Vera;
  font-weight:bold;
  color: #000000;
  background-color: #FFFFFF;
}

.menu img {
  width: 10%;

  /* Центровка картинки, подозреваю, что можно проще и изящнее */
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%)
}

.content {
  height: 90%;
}

.column:nth-child(1) .content {
  background-image: url(media/article_back.jpg);
  background-size: 100% 100%;
}

.container {
  position: relative;
  top: 70%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.author {
  color: #FFFFFF;
  font-family: Vera;
  font-weight: normal;
}

.article-name {
  color: #FFFFFF;
  font-family: Vera;
  font-weight: normal;
  font-size: 2.5em;
}

.button-tag {
  margin-top: 3%;
  padding: 1%;
  text-decoration:none;
  text-align:center;
  border:none;
  font-family: Vera;
  font-weight:bold;
  color: #000000;
  background-color: #FFFFFF;
}

/* SECOND COLUMN */

.column:nth-child(3) .content {
  background-color: #F6F7F8;

  height: 90%;
  padding: 10%;
  text-align: justify;
  font-family: Afta;
  line-height: 1.5;
}

.column:nth-child(3) .content::first-letter {
  font-size: 4em;
  float: left;
  margin-right: 3%;
}

/* THIRD COLUMN */

.menu-header {
  background-color: #FFFFFF;

  height: 10%;
}

.comment-counter {
  background-color: #FFFFFF;

  height: 100%;
  position: relative;

  /* Что здесь происходит? */
  /*display: inline-block;
  position: absolute;
  left: 35%;
  transform: translateY(100%);*/
}

.comment-counter-content {
  font-size: 0.8em;
  font-family: Vera;
  font-weight:bold;

  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.cross-close {
  background-color: #FFFFFF;

  position: absolute;
  left: 80%;
  top: 0%;

  width: 20%;
  height: 10%;
}

.cross-close img {
  width: 40%;

  /* Центровка картинки, подозреваю, что можно проще и изящнее */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.column:nth-child(5) .content {
  background-color: #FFFFFF;

  height: 90%;
}

.line {
  background-color: #FFFFFF;

  height: calc(100%/4);
  width: 100%;
}

.avatar {
  background-color: #FFFFFF;

  position: relative;
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 20%;
  height: 100%;
}

.avatar img {
  border-radius: 30px;
  width: 80%;

  /* Центровка картинки, подозреваю, что можно проще и изящнее */
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.comment-block {
  background-color: #FFFFFF;

  position: relative;
  display: inline-block;
  vertical-align: top;
  float: right;
  width: 80%;
  height: 100%;
}

.nickname {
  color: #2C3137;
}

.separated-date {
  color: #BEBFC0;
}

.comment {
  color: #626A73;
  padding-top: 2.5%;
  padding-right: 5%;
  text-align: justify;
  overflow: auto;
}
