body {
  background-color: #DBE2EC;
}

.wrapper {
  background-color: #DFDCE3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  max-width: 1160px;
  margin: 0 auto;
}

.column {
  max-width: 300px;
  min-width: 250px;
  max-height: 550px;
  min-height: 500px;

  /* Хак, чтобы меню и контент уместились в колонку */
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.column:nth-child(1) {
  background-color: #FF420E;
}

.column:nth-child(2) {
  background-color: #B3EDEC;
}

.column:nth-child(3) {
  background-color: #DDA0DD;
}

.content {
  height: 90%;
  padding: 10%;
  font-size: 1.2em;
  text-align: justify;
  overflow: auto;  
}

.menu {
  height: 10%;
  background-color: #FFFFFF;
}
