body {
  background: #DBE2EC;
}

/*
@media screen and (max-width: 768px) {
  body {
    background-color: #00FF00;
  }
}

@media screen and (max-width: 480px) {
  body {
    background-color: #0000FF;
  }
}
*/
