body {
  background: #DBE2EC;
}

.wrapper {
  margin: 0 auto;
  background-color: #DBFFEC;
  border: 1px solid red;
  width: 1300px;
  height: 700px;
}

.containter {
  background: #CCEDDC;
  border: 1px solid black;
  width: 300px;
  height: 600px;
  padding: 0;
  margin: 0 50px;
  display: inline-block;
  vertical-align: middle;
}

.column {
  background: #FFE2EC;
  width: 300px;
  height: 550px;
  padding: 30px;
  margin: 0;
  box-sizing: border-box;
  text-align: justify;
  font-size: 1em;
  overflow: auto;
}

footer {
  background: #FFFFFF;
  width: 300px;
  height: 50px;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
}

.close {
  float: left;
  width: 80px;
  height: 30px;
}

.comment {
  float: right;
  width: 80px;
  height: 30px;
}
