body {
  background-color: #00FF00;
}

.wrapper {
  background-color: #DFDCE3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  max-width: 768px;
  margin: 0 auto;
}

.column {
  max-width: 300px;
  min-width: 250px;
  max-height: 550px;
  min-height: 500px;
  margin: 2% 0;

  /* Хак, чтобы меню и контент уместились в колонку */
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.column:nth-child(1) {
  background-image: url(media/article-logo.jpg);
}

.author {
  margin-top: 70%;
  margin-left: 2.5%;
  margin-bottom: 0;
  font-size: 0.75em;
  color: #FFFFFF;
  font-family: "Stellar", sans-serif;
}

.article-name {
  margin-left: 2.5%;
  margin-bottom: 0;
  width: 70%;
  font-size: 1.5em;
  color: #FFFFFF;
  text-align: left;
  font-family: "Stellar", sans-serif;
}

.tag {
  box-sizing: border-box;
  margin-left: 2.5%;
  width: 25%;
  height: 5%;
  background-color: #FFFFFF;
  font-size: 0.6em;
  text-align: center;
  padding: 2.5%;
  color: #2C3137;
  font-family: "Simplifica", sans-serif;
}

.column:nth-child(2) {
  background-color: #F8F9FA;
  color: #626A73;
  font-family: "Bariol", serif;
}

.column:nth-child(3) {
  background-color: #DDA0DD;
}

.content {
  height: 90%;
  padding: 10%;
  font-size: 1.2em;
  text-align: justify;
  overflow: auto;
}

.menu {
  height: 10%;
  background-color: #FFFFFF;
}

.close {
  float: left;
  margin: 5%;
  width: 25%;

  text-decoration:none;
  text-align:center;
  border:none;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight:bold;
  color:#000000;
  background-color: #FFFFFF;
}

.comment {
  float: right;
  margin: 5%;
  width: 25%;
}
