/* Базовые стили, изменять не нужно */
html,
body {
    margin: 0;
    padding: 0;
}

body {
    width: 540px;
    min-height: 290px;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 14px;
    line-height: 1.5;
    font-family: Arial, sans-serif;
    color: white;
    background-color: #3a78a1;
    background-image: url("44_08_grid.png");
    background-repeat: repeat;
    background-position: -80px -80px;
}

.block {
    background: rgba(0, 255, 255, 0.2);
    border: 2px solid white;
}

.block1 {
    width: 196px;
    height: 36px;
}

.block2 {
    margin: 20px 0 20px 120px;
    padding: 10px 0 0 40px;
    width: 96px;
    height: 46px;
}

.block3 {
    margin: 20px 0 0 20px;
    border: 10px solid white;
    padding: 5px 0 0 7px;
    width: 172px;
    height: 35px;
}